
.search-bar
{
    width: 50%;
    height: 45px;
    padding: 0 0 0 0;
    text-indent: 20px;
    margin-top: 100px;
}

.search-button
{
    text-align: center;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em;
    color: var(--color-light);
    font-weight: 600;
    letter-spacing: 1px;
    flex: 1;
    margin-bottom: 15px;
}






.table
{
    background-color: white
    border: 1px solid gray;
    width: 100%;
}

#contacts
{
    align-items-content: center;
    flex-direction: column;
    display: flex;
    width: 90%;
}

#contacts tr.header, #contacts tr:hover
{
    background-color: #fefefe;
}

.btn-wrapper
{
    display: flex;
    flex-direction: row;
}

.btn-crud
{
    text-align: center;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em;
    color: var(--color-light);
    font-weight: 600;
    letter-spacing: 1px;
    flex: 1;
}

.btn-crud:focus {
  outline: 1px solid blue;
}

.btn
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.btn.active
{
    transform: translate(-50%, -50%) scale(1);
}

.btn-header
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.btn-header .title
{
    font-size: 1.25em;
    font-weight: bold;
}

.close-btn
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.btn-body
{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

#overlay
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
}






/* Customize the label (the container) */
.checkBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
